* {
    margin: 0;
    padding: 0;
}
body {
    margin-top: 15rem;
    margin-left: 33rem;
}

.banner, span {
font-weight: 500;
font-size: 20px;
}

.clock {
    height: 40px;
    width: 100px;
    background-color: rgb(120, 103, 21);
    border-radius: 5px;
    margin-left: 13px;
    display: flex;
    justify-content: center;
    align-items: center;

}